<div class="panel-group" id="accordion2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseA1">
          Create a new appointment
        </a>
      </h4>
    </div>
    <div id="collapseA1" class="panel-collapse collapse">
      <div class="panel-body">
      	<ol>
      		<li>Click on the <b>Appointment</b> tab in the navigation bar</li>
      		<li>Click on the <b>New</b> button</li>
      		<li>Select a <b>customer</b> from the dropdown list</li>
      		<li>Select a <b>date</b> by clicking on the calendar icon</li>
      		<li>Select a <b>time</b> by clicking on the clock icon</li>
      		<li>Insert an appropriate <b>description</b> or <b>comments</b></li>
      		<li><b>*Optional*</b> Check the checkbox to create a <b>follow up</b> appointment</li>
      		<li>Click <b>Save</b></li>
      	</ol>
      	<p><b>*Note*</b> This will send the customer an email with the relevant appointment details</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseA2">
          Edit an existing appointment
        </a>
      </h4>
    </div>
    <div id="collapseA2" class="panel-collapse collapse">
      <div class="panel-body">
      	<ol>
      		<li>Click on the <b>Appointment</b> tab in the navigation bar</li>
      		<li>Click on the <b>edit</b> button next to the appointment you wish to edit</li>
      		<li>Change the relevant details</li>
      		<li>Click <b>Save</b> </li>
      	</ol>
      	<p><b>*Note*</b> This will send an email to the customer with the updated appointment details</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseA3">
          Delete an appointment
        </a>
      </h4>
    </div>
    <div id="collapseA3" class="panel-collapse collapse">
      <div class="panel-body">
      	<ol>
      		<li>Click on the <b>Appointment</b> tab in the navigation bar</li>
      		<li>Click on the <b>delete</b> button next to the order you wish to cancel</li>
      		<li>Click <b>Yes</b> on the confirmation box</li>      		
      	</ol>
      	<p><b>*Note*</b>An email will be sent to the customer informing them of the cancellation</p>
      </div>
    </div>
  </div>
</div>
