<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseC1">
          Create a new customer
        </a>
      </h4>
    </div>
    <div id="collapseC1" class="panel-collapse collapse">
      <div class="panel-body">
      	<ol>
      		<li>Click on the <b>Customer tab</b> in the navigation bar</li>
      		<li>Click on the <b>new button</b></li>
      		<li>Enter customer details</li>
      		<li>Click <b>Save</b></li>
      	</ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseC2">
          View Customer details and history
        </a>
      </h4>
    </div>
    <div id="collapseC2" class="panel-collapse collapse">
      <div class="panel-body">
      <ol>
      	<li>Click on the <b>Customer tab</b> in the navigation bar</li>
      	<li>Click on the <b>History</b> button</li>
      </ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseC3">
          Edit existing customer details
        </a>
      </h4>
    </div>
    <div id="collapseC3" class="panel-collapse collapse">
      <div class="panel-body">
      <ol>
      	<li>Click on the <b>Customer tab</b> in the navigation bar</li>
      	<li>Click on the <b>update</b> button nex to the customer you wish to update</li>
      	<li>Enter relevant customer details</li>
      	<li>Click <b>Save</b></li>
      </ol>
      </div>
    </div>
  </div>
</div>
