<div class="panel-group" id="accordion5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion5" href="#collapseE1">
          Add new expense
        </a>
      </h4>
    </div>
    <div id="collapseE1" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>
  
  
</div>
