<div class="panel-group" id="accordion5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion5" href="#collapseE1">
          Add new expense
        </a>
      </h4>
    </div>
    <div id="collapseE1" class="panel-collapse collapse">
      <div class="panel-body">
      	<ol>
      		<li>Click on the <b>Expenses</b> tab in the navigation toolbar</li>
      		<li>Click on the <b>New button</b></li>
      		<li>Enter the period date and the expenses to be recorded</li>
      		<li>Click <b>Save</b></li>
      	</ol>
      	<p><b>*Note*</b> Expenses can be entered individually or in batches, as long as they are recorded under the correct period end date</p>
      </div>
    </div>
  </div>
  
  
</div>
