<div class="panel-group" id="accordion4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion4" href="#collapseG1">
          Add a garment to an existing order
        </a>
      </h4>
    </div>
    <div id="collapseG1" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion4" href="#collapseG2">
          View garment details
        </a>
      </h4>
    </div>
    <div id="collapseG2" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion4" href="#collapseG3">
          Edit garment details
        </a>
      </h4>
    </div>
    <div id="collapseG3" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion4" href="#collapseG4">
          Delete a garment
        </a>
      </h4>
    </div>
    <div id="collapseG4" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion4" href="#collapseG5">
          Cost a garment
        </a>
      </h4>
    </div>
    <div id="collapseG5" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>

</div>
