<div class="panel-group" id="accordion4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion4" href="#collapseG1">
          Add a garment to an existing order
        </a>
      </h4>
    </div>
    <div id="collapseG1" class="panel-collapse collapse">
      <div class="panel-body">
      	<ol>
      		<li>Click on the <b>Order</b> tab in the navigation bar</li>
      		<li>Click on the order you wish to view</li>
      		<li>Click on the <b>+ Garment</b> button</li>
      		<li>Enter Garment details</li>
      		<li>Click <b>Save</b></li>
      	</ol>
      	<p><b>*Note*</b> Creating a garment will take you to the initial garment costing screen</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion4" href="#collapseG2">
          View garment details
        </a>
      </h4>
    </div>
    <div id="collapseG2" class="panel-collapse collapse">
      <div class="panel-body">
      	<ol>
      	<li>Click on the <b>Order</b> tab in the navigation bar</li>
      	<li>Click on the order you wish to view</li>
      	<li>Click on the <b>Measurements</b> button next to the garment you wish to view</li>      		
      	</ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion4" href="#collapseG3">
          Edit garment details
        </a>
      </h4>
    </div>
    <div id="collapseG3" class="panel-collapse collapse">
      <div class="panel-body">
      	<ol>
      		<li>Click on the <b>Order</b> tab in the navigation bar</li>
      		<li>Click on the order you wish to view</li>
      		<li>Click on the <b>Edit</b> button of the garment you wish to change</li>      		
      		<li>Click <b>Save</b></li>
      	</ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion4" href="#collapseG4">
          Delete a garment
        </a>
      </h4>
    </div>
    <div id="collapseG4" class="panel-collapse collapse">
      <div class="panel-body">
      	<ol>
	      	<li>Click on the <b>Order</b> tab in the navigation bar</li>
	      	<li>Click on the order you wish to view</li> 
	      	<li>Click on the <b>Delete</b> button of the garment you wish to change</li>
	      	<li>Click <b>yes</b> on the confirmation box</li>      		
      	</ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion4" href="#collapseG5">
          Cost a garment
        </a>
      </h4>
    </div>
    <div id="collapseG5" class="panel-collapse collapse">
      <div class="panel-body">
      	<ol>
      		<li>Click on the <b>Order</b> tab in the navigation bar</li>
	      	<li>Click on the order you wish to view</li>
	      	<li>Click on the <b>Costing</b> button next to the garment you wish to cost</li>
	      	<li>Fill in the relevant costing details</li>
	      	<li>Click <b>Save</b></li>      		
      	</ol>
      </div>
    </div>
  </div>

</div>
