<div class="panel-group" id="accordion3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion3" href="#collapseO1">
          Create a new order
        </a>
      </h4>
    </div>
    <div id="collapseO1" class="panel-collapse collapse">
      <div class="panel-body">
      	<ol>
      		<li>Click on the <b>Order</b> tab in the navigation bar</li>
      		<li>Click on the <b>New button</b></li>
      		<li>Select a <b>customer</b> from the dropdown list</li>
      		<li>Select a <b>due date</b> by clicking on the calendar icon</li>
      		<li>Click <b>Save</b></li>
      	</ol>
      	<p><b>*Note*</b> Creating an order will take you directly to the <b>Create Garment</b> page</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion3" href="#collapseO2">
          View order details
        </a>
      </h4>
    </div>
    <div id="collapseO2" class="panel-collapse collapse">
      <div class="panel-body">
      	<ol>
      		<li>Click on the <b>Order</b> tab in the navigation bar</li>
      		<li>Click on the order you wish to view</li>
      	</ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion3" href="#collapseO3">
          Edit/Close order
        </a>
      </h4>
    </div>
    <div id="collapseO3" class="panel-collapse collapse">
      <div class="panel-body">
      <ol>
      	<li>Click on the <b>Order</b> tab in the navigation bar</li>
      	<li>Click on the order you wish to view</li>
      	<li>Click on the order <b>edit</b> button</li>
      	<li>Fill in the relevant order details</li>
      	<li>Check the <b>checkbox</b> if the order is to be <b>closed</b></li>
      	<li>When <b>closing</b> an order use the <b>slider</b> to select how this order rates out of 10. (1-low, 10-high)</li>
      </ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion3" href="#collapseO4">
          Generate and send a Quote/Invoice
        </a>
      </h4>
    </div>
    <div id="collapseO4" class="panel-collapse collapse">
      <div class="panel-body">
      <ol>
      	<li>Click on the <b>Order</b> tab in the navigation bar</li>
      	<li>Click on the order you wish to view</li>
      	<li>Click <b>Generate Quote</b> to generate and send a quote</li>
      	<li>Click <b>Generate Invoice</b> to generate and send an invoice</li>
      </ol>
      </div>
    </div>
  </div>

</div>
