<div class="panel-group" id="accordion3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion3" href="#collapseO1">
          Create a new order
        </a>
      </h4>
    </div>
    <div id="collapseO1" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion3" href="#collapseO2">
          View order details
        </a>
      </h4>
    </div>
    <div id="collapseO2" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion3" href="#collapseO3">
          Edit/Close Order
        </a>
      </h4>
    </div>
    <div id="collapseO3" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion3" href="#collapseO4">
          Generate and send a Quote/Invoice
        </a>
      </h4>
    </div>
    <div id="collapseO4" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>

</div>
