<div class="page-header">
  <div class="row">
    <h1 class="col-lg-4">Help</h1>    
  </div>    
</div>
<ul class="nav nav-pills nav-justified" >
  <li><a href="#customer" data-toggle="pill">Customer</a></li>
  <li><a href="#appt" data-toggle="pill">Appointment</a></li>
  <li><a href="#order" data-toggle="pill">Order</a></li>
  <li><a href="#garment" data-toggle="pill">Garment</a></li>
  <li><a href="#expenses" data-toggle="pill">Expenses</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane" id="customer">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<th class="col-md-4"></th>
				<th class="col-md-6"></th>
				<th class="col-md-2"></th>
			</thead>
			<tbody>
				<tr class="link-row">
					<td>Create customer</td>
					<td></td>
					<td align="right"><button class="btn btn-xs btn-primary">
							<span class ="glyphicon glyphicon-info-sign"></span>
							<span class ="show-tag">Info</span>
						</button>							
					<button class="btn btn-xs btn-success">
						<span class="glyphicon glyphicon-play"></span>
						<span class ="show-tag">Play</span>

					</button></td>								
				</tr>
				<tr class="link-row">
					<td>View customer details</td>				
					<td></td>								
					<td align="right"><button class="btn btn-xs btn-primary">
							<span class ="glyphicon glyphicon-info-sign"></span>
							<span class ="show-tag">Info</span>
						</button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
				</tr>
				<tr class="link-row">
					<td>Edit customer details</td>				
					<td></td>								
					<td align="right"><button class="btn btn-xs btn-primary">
							<span class ="glyphicon glyphicon-info-sign"></span>
							<span class ="show-tag">Info</span>
						</button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
				</tr>			
			</tbody>
		</table>		
	</div>
	</div>	
	<div class="tab-pane" id="appt">
		<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<th class="col-md-4"></th>
				<th class="col-md-7"></th>
				<th class="col-md-1"></th>
			</thead>
			<tbody>
				<tr>
					<td>Create appointment</td>
					<td></td>								
					<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
				</tr>
				<tr>
					<td>Edit appointment details</td>				
					<td></td>								
					<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
				</tr>
				<tr>
					<td>Cancel appointment</td>				
					<td></td>								
					<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
				</tr>			
			</tbody>
		</table>		
	</div>
	</div>	
	<div class="tab-pane" id="order">
		<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<th class="col-md-4"></th>
				<th class="col-md-7"></th>
				<th class="col-md-1"></th>
			</thead>
			<tbody>
				<tr>
					<td>Create order</td>								
					<td></td>								
					<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
				</tr>
				<tr>
					<td>View order</td>				
					<td></td>								
					<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
				</tr>
				<tr>
					<td>Edit/Close Order</td>				
					<td></td>								
					<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
				</tr>
				<tr>
					<td>Generate Quote</td>				
					<td></td>								
					<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
				</tr>
				<tr>
					<td>Generate Invoice</td>				
					<td></td>								
					<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
				</tr>				
			</tbody>
		</table>		
	</div>
	</div>	
	<div class="tab-pane" id="garment">
		<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<th class="col-md-4"></th>
				<th class="col-md-7"></th>
				<th class="col-md-1"></th>
			</thead>
			<tbody>
			<tr>
				<td>Add garment to order</td>								
				<td></td>								
				<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
			</tr>
			<tr>
				<td>View garment details</td>				
				<td></td>								
				<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
			</tr>
			<tr>
				<td>Edit garment details</td>				
				<td></td>								
				<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
			</tr>
			<tr>
				<td>Delete garment </td>				
				<td></td>								
				<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
			</tr>
			<tr>
				<td>Costing a garment</td>				
				<td></td>								
				<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
			</tr>				
			</tbody>
		</table>		
	</div>
	</div>	
	<div class="tab-pane" id="expenses"><div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<th class="col-md-4"></th>
				<th class="col-md-7"></th>
				<th class="col-md-1"></th>
			</thead>
			<tbody>
			<tr>
				<td>Add expense</td>								
				<td></td>								
				<td><button class="btn btn-xs btn-primary"><span class ="glyphicon glyphicon-info-sign"></span></button>							
					<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span></button></td>
			</tr>				
			</tbody>
			
		</table>		
	</div></div>	
</div>
