<!DOCTYPE html>
<html>
<head>
	 <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h2>Ivy's Dresses Quote</h2>
	<hr/>
	<p>Hi <%= @customer.first_name%>,</p>

	<p>Click <%= link_to "here", @url, :target => "_blank"%> to see your quote</p>
	<p>Please contact us if you have any queries regarding this quote</p>
	<p><strong>Please Note: </strong> By not responding within 3 working days, it is understood that you have read and accepted this quotation</p>

	<p>Thanks</p>
	<p>Ivy Langsford</p>
	<p>Cell: 0832930492</p>

	
</body>
</html>