<div class ="page-header">
    <h1>Add a Garment</h1>
</div>
<div class="col-md-12">
    <div class="col-md-3">

        <p><strong>Customer:</strong>"name"</p>
        <p><strong>Description:</strong> words</p>
        <p><strong>Due Date:</strong>##/##/####</p> 

    </div>
</div>

<div class="col-lg-9 well bs-component">
	<%= render 'form' %>
</div>
