<!DOCTYPE html>
<html>
<head>
	 <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h2>Ivy's Dresses Invoice</h2>
	<hr/>
	<p>Hi <%= @customer.first_name%>,</p>

	<p>Click <%= link_to "here", @url,:target => "_blank"%> to see your invoice!</p>	
	<p><strong>Please Note: </strong> All orders are cash on delivery and proof of payment is required for garmentcollection</p>

		<p><b>Bank: </b>Absa</p>
		<p><b>Branch: </b>Clearwater</p>
		<p><b>Account No: </b>1110660670</p>

	<p>Thanks</p>
	<p>Ivy Langsford</p>
	<p>Cell: 0832930492</p>
	
</body>
</html>