<h1 class="page-header">Welcome</h1>
<br/>

<div class="row">
	<div class="col-lg-4">
	<!--render partial here-->
		<%= render "reports/dailySchedule"%>
	</div>
	<div class="col-lg-8">
		<!--top/bottom 5 report goes here-->
	</div>	
</div>
<div class="row">
	<div class="col-lg-6">
		<%= render "reports/weeklyDeadlines"%>
	</div>
</div>
