<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>	
	<h1> New appointment made with Ivy's Dresses</h1>
	<p>Hi <%=@customer.first_name%>,</p>
	<p>Your appointment with Ivy's Dresses on: </p>
	<p><strong><%= @appointment.date.strftime("%A %d-%B-%Y")%></strong></p>
	<p>at:</p>
	<p><strong><%= @appointment.time.strftime("%H:%M")%></strong></p>
	<p>has been cancelled</p>

	<p>Feel free to contact us if you require more information</p>
	<p>Thanks</p>
	<p>Ivy</p>
	<p>Cell: 0832930492</p>	
</body>
</html>