<div class="page-header">
    <h1>Garment Costing</h1>
</div>
<div class="col-md-12">
    <div class="col-md-3">
    <% this_order = Order.find(@garment.order_id)%>
    <% person = Customer.find(this_order.customer_id) %>

        <p><strong>Garment Description: </strong><%= @garment.garment_description%></p>
        <p><strong>Due Date: </strong><%=this_order.due_date.strftime("%d-%b-%Y")%></p>
        <p><strong>Customer Name: </strong> <%= person.first_name+" "+person.last_name%></p>
    </div>
</div>

<div class = "col-md-6 well bs-component">
	<%= render 'form' %>
</div>