<div class="page-header">
    <h1>Garment Costing</h1>
</div>
<div class="col-md-12">
    <div class="col-md-3">
        <p><strong>Garment Description:</strong>"Some text"</p>
        <p><strong>Due Date:</strong> ##/##/####</p>
        <p><strong>Customer:</strong> "Some Text"</p>
    </div>
</div>

<div class = "col-md-6 well bs-component">
	<%= render 'form' %>
</div>