<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet">
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
        <script src="~/Scripts/modernizr-2.5.3.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="~/Default">Ivy's Dresses</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="~/Default.cshtml">Home</a></li>
            <li><a href="~/OrderIndex.cshtml">Orders<span style="color:white"> (5)</span></a></li>
            <li><a href="~/CustomerIndex">Customers</a></li>
            <li><a href="~/ExpenseIndex">Expenses</a></li>
            <li><a href="~/AppointmentIndex">Appointments</a></li>
              <li><a href="~/Report1">Reports</a></li>                 
              </ul>
            </li>
          </ul>          
        </div><!--/.nav-collapse -->
      </div>
    </div>
        <div class ="container">
        @RenderBody()                
        </div>
        
        

        
    


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>