@{
    Page.Title = "Appointments";
    Layout = "~/_SiteLayout.cshtml";
}

<div class="page-header">
    <h1>Appointments</h1>
    <h5>Monday 28/04/2014</h5>
</div>
<div class="alert alert-success">
    flash alert for create, update and delete success
</div>
<div>
    <h1 class="sub-header"><a href="~/AppointmentCreate"class="btn btn-success">Create Appointment</a></h1>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-md-1">Date</th>
                <th class="col-md-1">Time</th>
                <th>Customer</th>
                <th>Description</th>
                <th class="col-md-2">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        <a href="#" type="button" class="btn btn-sm btn-warning">Edit</a>
                        <a href="#" type="button" class="btn btn-sm btn-danger">Cancel</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        <a href="#" type="button" class="btn btn-sm btn-warning">Edit</a>
                        <a href="#" type="button" class="btn btn-sm btn-danger">Cancel</a>
                    </p>
                </td>
            </tr>
             <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        <a href="#" type="button" class="btn btn-sm btn-warning">Edit</a>
                        <a href="#" type="button" class="btn btn-sm btn-danger">Cancel</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>