@{
    Page.Title = "Customers";
    Layout = "~/_SiteLayout.cshtml";
}

<div class="page-header">
    <h1>Customers</h1>
</div>
<div>
    <a href="~/CustomerNew" class="btn btn-success">New Customer</a>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="col-md-3">Contact Number</th>                
                <th class="col-md-2">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        <a href="~/CustomerHistory"  class="btn btn-xs btn-primary">History</a>
                        <a  class="btn btn-xs btn-warning">Edit</a>
                    </p>
                </td>                
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        <a href="~/CustomerHistory"  class="btn btn-xs btn-primary">History</a>
                        <a  class="btn btn-xs btn-warning">Edit</a>
                    </p>
                </td>                
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        <a href="~/CustomerHistory"  class="btn btn-xs btn-primary">History</a>
                        <a  class="btn btn-xs btn-warning">Edit</a>
                    </p>
                </td>                
            </tr>             
        </tbody>
    </table>
</div>