@{
    Page.Title = "Expenses";
    Layout = "~/_SiteLayout.cshtml";
}

<div class="page-header">
    <h1>Expenses</h1>
</div>
<div class="alert alert-success">
    Flash alert for create and update success
</div>

<div>
    <a href="~/ExpenseNew" class="btn btn-success">Record Expenses</a>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Period End</th>
                <th>Habby</th>
                <th>Bank Charges</th>
                <th>Equipment</th>
                <th>Stationery</th>
                <th>Computers</th>
                <th>Telephones</th>
                <th>Misc</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </tbody>
    </table>
</div>

