@{
    Page.Title = "New Garment";
    Layout = "~/_FormLayout.cshtml";
}

<div class ="page-header">
    <h1>Add a Garment</h1>
</div>
<div class="col-md-12">
    <div class="col-md-3">
        <p><strong>Customer:</strong> "Some Text"</p>
        <p><strong>Description:</strong>"Some text"</p>
        <p><strong>Due Date:</strong> ##/##/####</p>        
    </div>
</div>

<div class="col-lg-9 well bs-component">
    <form class="form-horizontal">
        <fieldset>
            <legend>New Garment</legend>

            <div class="form-group">@*descr*@
                <label for="inputDescr" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <textarea id="inputDescr" class="form-control" rows="2"></textarea>
                </div>
            </div>@*descr*@

            <div class="form-group">
                <label for="inputType" class="col-lg-2 control-label">Type</label>
                <div class="col-lg-10">
                    <select class="form-control">
                        <option>Wedding Dress</option>
                        <option>Matric Farewell</option>
                        <option>Formal wear</option>
                        <option>Work wear</option>
                        <option>Alterations</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <legend>Measurements</legend>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Bust</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Across back</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Under bust</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Shoulder length</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Waist</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Skirt length</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Hip Upper</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Sleeve length</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Hip Lower</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Sleeve width upper</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Bust point</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Sleeve width elbow</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Front length</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Sleeve width wrist</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Shoulder-Underbust</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Pants length</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Back length</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label for="" class="col-lg-8 control-label">Jacket length</label>
                <div class="col-lg-4 input-group">
                    <input type="number" id="" class="form-control" />
                    <span class="input-group-addon">cm</span>
                </div>
            </div>

        <div class="form-group">
            <div class="col-lg-10">
                <a href="~/OrderShow" class="btn btn-primary">Save</a>
                <a href="~/OrderShow" class="btn btn-default">Cancel</a>
            </div>
        </div>

        </fieldset>
    </form>
</div>