@{
    Page.Title = "Orders";
    Layout = "~/_SiteLayout.cshtml";
}

<div class="page-header">
    <h1>Orders</h1>
</div>
<div class="alert alert-success">
    Flash alert for create and update success
</div>

<div>
    <a href="~/OrderNew" class="btn btn-success">New Order</a>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Order Description</th>
                <th class="col-md-2">DueDate</th>
                <th class="col-md-2">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        <a href="~/OrderShow.cshtml" class="btn btn-xs btn-primary">Show</a>
                        <a href="#" class="btn btn-xs btn-warning">Edit</a>
                        <a href="~/OrderClose" class="btn btn-xs btn-danger">Close</a>
                    </p>
                </td>                
            </tr> 
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        <button type="button" class="btn btn-xs btn-primary">Show</button>
                        <button type="button" class="btn btn-xs btn-warning">Edit</button>
                         <button type="button" class="btn btn-xs btn-danger">Close</button>
                    </p>
                </td>                
            </tr>   
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        <button type="button" class="btn btn-xs btn-primary">Show</button>
                        <button type="button" class="btn btn-xs btn-warning">Edit</button>
                         <button type="button" class="btn btn-xs btn-danger">Close</button>
                    </p>
                </td>                
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        <button type="button" class="btn btn-xs btn-primary">Show</button>
                        <button type="button" class="btn btn-xs btn-warning">Edit</button>
                         <button type="button" class="btn btn-xs btn-danger">Close</button>
                    </p>
                </td>                
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p>
                        <button type="button" class="btn btn-xs btn-primary">Show</button>
                        <button type="button" class="btn btn-xs btn-warning">Edit</button>
                         <button type="button" class="btn btn-xs btn-danger">Close</button>
                    </p>
                </td>                
            </tr>
        </tbody>
    </table>
</div>

