@{
    Page.Title = "Show Order";
    Layout = "~/_SiteLayout.cshtml";
}

<div class="page-header">
    <h1>View Order</h1>
</div>
<div class="alert alert-success">
     alert flash for create and update success
</div>
<div class="col-md-12">
    <div class="col-md-3">
        <p><strong>Description:</strong>"Some text"</p>
        <p><strong>Due Date:</strong> ##/##/####</p>
        <p><strong>Customer:</strong> "Some Text"</p>
    </div>
</div>
<div>
    <p>
        <a href="~/GarmentNew" type="button" class="btn btn-success">Add a Garment</></a>
        <a href="~/Quote" type="button" class="btn btn-default">Generate Quote</a>
        <a href="~/Invoice" type="button" class="btn btn-default">Generate Invoice</a>
    </p>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-6">Garment Description</th>
                <th class="2">Type</th>
                <th class="col-md-4">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <p>
                        <a href="~/GarmentShow" class="btn btn-sm btn-primary">Measurements</a>
                        <a href="~/GarmentCosting" type="button" class="btn btn-sm btn-success">Costing</a>
                        <a href="#" class="btn btn-sm btn-warning">Edit</a>                        
                        <a href="#" class="btn btn-sm btn-danger">Delete</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <p>
                        <a href="~/GarmentShow" class="btn btn-sm btn-primary">Measurements</a>
                        <a href="~/GarmentCosting" type="button" class="btn btn-sm btn-success">Costing</a>
                        <a href="#" class="btn btn-sm btn-warning">Edit</a>                        
                        <a href="#" class="btn btn-sm btn-danger">Delete</a>
                    </p>
                </td>
            </tr>

        </tbody>
    </table>
</div>