.value{
	text-align: right;
}

.minute{
	width: 20%;
	display: inline;
}

.hour{
	width: 20%;
	display: inline;
}

.day{
	width: 20%;
	display: inline;
}

.month{
	width: 40%;
	display: inline;
}

.year{
	width: 30%;
	display: inline;
}

.show-tag{
	display: none;
}

.link-row{
	cursor: pointer;
}

.link-row:hover .show-tag{
	display: inline-block;
}
.new-button{
	margin-top: 20px;
	margin-bottom: 10px;
}