<div class="table-repsonsive">
	<table class="table table-bordered table-striped">
	<thead>
		<h4>Bottom 5 Customers</h4>
		<h6><i>Scores out of 10</i></h4>
		<th>Customer</th>
		<th>Subjective Score</th>
		<th>Objective Score</th>
		<th>Combined Score</th>
	</thead>
	<tbody>
	<% @bottom5.each do |c|%>
			<tr class="danger">
				<td><%= c["name"]%></td>
				<td><%= a = c["sub_score"].round(1)%></td>
				<td><%= b =c["obj_score"].round(1)%></td>
				<td><%= ((a.to_f + b.to_f)/2).round(1)%></td>
			</tr>
		<%end%>	
	</tbody>		
	</table>	
</div>