<div class="table-repsonsive">
	<table class="table table-bordered table-striped">
	<thead>
		<h4>Bottom 5 Customers</h4>
		<h6><i>Scores out of 10</i></h4>
		<th>Customer</th>
		<th>Subjective Score</th>
		<th>Objective Score</th>
		<th>Combined Score</th>
	</thead>
	<tbody>
	<% @bottom5.each do |c|%>
			<tr>
				<td><%=a = c["name"]%></td>
				<td><%=b = c["sub_score"]%></td>
				<td><%=d = c["obj_score"]%></td>
				<td><%= (a.to_f+b.to_f)/2%></td>
			</tr>
		<%end%>	
		<!--<tr> 
			<td>Name</td>
			<td>10</td>
			<td>10</td>
			<td>10</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>10</td>
			<td>10</td>
			<td>10</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>10</td>
			<td>10</td>
			<td>10</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>10</td>
			<td>10</td>
			<td>10</td>
		</tr>-->
	</tbody>		
	</table>
</div>