<%d =Date.today%>
<div class="table-responsive">		
	<table class="table table-striped table-bordered table-striped">
		<thead>
			<h4>Appointments for today</h4>
			<th class="col-md-4">Time</th>
			<th class="col-md-4">Customer</th>
			<th class="col-md-4">Comments</th>
		</thead>
		<tbody>
		<%appointments = Appointment.where(date: d).order(:date)%>
		<%appointments.each do |a|%>		
		<tr>
			<%if a.follow_up%>
			<td>
				<span class="badge">Follow up</span>
			</td>
			<%else%>
			<td><%=a.time.strftime("%H:%M %p")%></td>
			<%end%>
			<%person = Customer.find(a.customer_id)%>
			<%name = person.first_name + " " + person.last_name %>
			<td><%= link_to name, customer_path(person)%></td>
			<td><%= a.comments %></td>
		</tr>
		<%end%>
				
		</tbody>
	</table>
</div>
<br/>