<script type="text/javascript">
            var chart1;

            var chartData1 = <%= raw @garments_per_order.to_json %>;


            AmCharts.ready(function () {
                // SERIAL CHART
                chart1 = new AmCharts.AmSerialChart();
                chart1.dataProvider = chartData1;
                chart1.categoryField = "order_year";
                chart1.rotate = true;
                chart1.depth3D = 20;
                chart1.angle = 30;

                // AXES
                // Category
                var categoryAxis = chart1.categoryAxis;
                categoryAxis.gridPosition = "start";
                categoryAxis.axisColor = "#DADADA";
                categoryAxis.fillAlpha = 1;
                categoryAxis.gridAlpha = 0;
                categoryAxis.fillColor = "#FAFAFA";

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.axisColor = "#DADADA";
                valueAxis.title = "Number of Garments produced";
                valueAxis.gridAlpha = 0.1;
                chart1.addValueAxis(valueAxis);

                // GRAPH
                var graph1 = new AmCharts.AmGraph();
                graph1.title = "Number of Garments produced";
                graph1.valueField = "count";
                graph1.type = "column";
                graph1.balloonText = "[[value]] Garments produced in [[category]]";
                graph1.lineAlpha = 0;
                graph1.fillColors = "#5fb503";
                graph1.fillAlphas = 1;
                chart1.addGraph(graph1);

                chart1.creditsPosition = "top-right";

                // WRITE
                chart1.write("GPYchartdiv");
            });
        </script>
        <h3 class="page-header"> Garments produced per year</h3>
<div id="GPYchartdiv" style="width: 500px; height: 600px;"></div>



