<h3 class="page-header">Garment produced of each type</h3>
<div>
    <select id="MyList"></select>
    <button class="btn btn-sm btn-default" onclick="sendChartData()">Generate</button>
</div>
<div id="GPchartdiv" style="width:100%; height:600px;"></div>

<script type="text/javascript">
    window.onload = function() {
    var select = document.getElementById("MyList");
    var options = <%= @year_list%>;
    for (var i = 0; i < options.length; i++) {
        var opt = options[i];
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = opt;
        select.appendChild(el);
    }
}

function sendChartData () {
    var s = document.getElementById("MyList");
    var selectedYear = s.options[s.selectedIndex].value;
    console.log(selectedYear);

    $.ajax({
        url: "/ajax/renderChart.json",
        type: "POST",
        data: {year_selected: selectedYear},
        success: function(data){AmCharts.makeChart("GPchartdiv", data);}
    });
}
</script>



