<script type="text/javascript">
            var gpchart;

            var chartData = <%= raw @garment_categories.to_json %>;

            AmCharts.ready(function () {
                // RADAR CHART
                gpchart = new AmCharts.AmRadarChart();
                gpchart.dataProvider = chartData;
                gpchart.categoryField = "garment_type";
                gpchart.startDuration = 2;

                // VALUE AXIS
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.axisAlpha = 0.15;
                valueAxis.minimum = 0;
                valueAxis.dashLength = 3;
                valueAxis.axisTitleOffset = 20;
                valueAxis.gridCount = 5;
                gpchart.addValueAxis(valueAxis);

                // GRAPH
                var graph = new AmCharts.AmGraph();
                graph.valueField = "total";
                graph.bullet = "round";
                graph.lineColor = "#fb5000";
                graph.balloonText = "[[value]] [[garment_type]] have been produced ";
                gpchart.addGraph(graph);
                

                // WRITE
                gpchart.write("GPchartdiv");
                gpchart.validateNow();
            });
</script>
<div id="GPchartdiv" style="width:100%; height:400px;"></div>
<%= raw @garment_categories.to_json %>
