<div class="table-repsonsive">
	<table class="table table-bordered table-striped">
	<thead>
		<h4>Top 5 Customers</h4>
		<th>Customer</th>
		<th>Subjective Score</th>
		<th>Objective Score</th>
		<th>Combined Score</th>
	</thead>
	<tbody>
	<% cvi_average = Order.select("customer_id, avg(customer_value_index) as subj", :limit => 5).group("customer_id").order("subj")%>
		<% cvi_average.each do |c|%>			
			<tr>				
				<%person = Customer.find(c.customer_id)%>
				<td><%=person.first_name + " " + person.last_name%></td>
				<td><%=c.subj.round(1)%></td>
				<%objective_index = calculate_objective_index(person)%>
				<td><%= objective_index.round(1)%></td>
				<td><%= ((c.subj + objective_index)/2).round(1) %></td>
			</tr>			
		<%end%>
		<!--<tr>
			<td>Name</td>
			<td>10</td>
			<td>10</td>
			<td>10</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>10</td>
			<td>10</td>
			<td>10</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>10</td>
			<td>10</td>
			<td>10</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>10</td>
			<td>10</td>
			<td>10</td>
		</tr>-->
	</tbody>		
	</table>
</div>