<%d = Time.now%>
<h1 class="page-header">Customer Ranking <span><h5><%= d.strftime("%A %d-%B-%Y %H:%M")%></h5></span></h1>
<ul class="nav nav-pills">
	<li class="active"><a href="#top" data-toggle="pill">Top 5</a></li>
	<li><a href="#bottom" data-toggle="pill">Bottom 5</a></li>
	<li><a href="#full" data-toggle="pill">Full Ranking</a></li>	
</ul>
<br>
<div class="well">
	<div class="tab-content">
		<div class="tab-pane active" id="top">			
			<%= render "top5"%>		
		</div>		
		<div class="tab-pane" id="bottom">			
			<%= render "bottom5"%>			
		</div>
		<div class="tab-pane" id="full">
			<%= render 'fullRanking'%>
		</div>
	</div>	
</div>
