<%d = Time.now%>
<h1 class="page-header">Customer Ranking <span><h5><%= d.strftime("%A %d-%B-%Y %H:%M")%></h5></span></h1>
<ul class="nav nav-pills">
	<li class="active"><a href="#top" data-toggle="pill">Top 5</a></li>
	<li><a href="#bottom" data-toggle="pill">Bottom 5</a></li>
	<li><a href="#full" data-toggle="pill">Full Ranking</a></li>	
</ul>
<br>
<div class="well">
	<div class="tab-content">
		<div class="tab-pane active" id="top">			
			<%= render "top5"%>		
		</div>		
		<div class="tab-pane" id="bottom">			
			<%= render "bottom5"%>			
		</div>
		<div class="tab-pane" id="full">
			<%= render 'fullRanking'%>
		</div>
	</div>	
</div>

<script type="text/javascript">
    (function(document) {
  'use strict';

  var LightTableFilter = (function(Arr) {

    var _input;

    function _onInputEvent(e) {
      _input = e.target;
      var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
      Arr.forEach.call(tables, function(table) {
        Arr.forEach.call(table.tBodies, function(tbody) {
          Arr.forEach.call(tbody.rows, _filter);
        });
      });
    }

    function _filter(row) {
      var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
      row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
    }

    return {
      init: function() {
        var inputs = document.getElementsByClassName('light-table-filter');
        Arr.forEach.call(inputs, function(input) {
          input.oninput = _onInputEvent;
        });
      }
    };
  })(Array.prototype);

  document.addEventListener('readystatechange', function() {
    if (document.readyState === 'complete') {
      LightTableFilter.init();
    }
  });

})(document);
</script>
