<%d = Time.now%>
<h1 class="page-header" style="margin-top: -5px;">Product Popularity <span><h5><%= d.strftime("%A %d-%B-%Y %H:%M")%></h5></span></h1>	
<div class="well">
  <div class="row" style="margin-top: -35px;">
      <div class="col-md-5"><!--Bar Chart-->
          <h3 class="page-header"> Garments produced per year<span><h6>click each bar for a more detailed breakdown</h6></span></h3>
          <div id="GPYchartdiv" style="width: 300px; height: 700px;"></div>        
      </div>
      <div class="col-md-7"> <!-- Pie Chart -->
          <h3 class="page-header">Income per garment type in the year: <strong><span class="year-indicator"></span></strong></h3>
          <div id="profitChartdiv" style="width: 100%; height: 350px;"></div>           
          <h3 class="page-header">Garment produced of each type in year: <strong><span class="year-indicator"></span></strong></h3>
           <div id="GPchartdiv" style="width:100%; height:350px;"></div>        
      </div>
  </div>	
</div>
