<%d = Time.now%>
<h1 class="page-header" style="margin-top: -5px;">Garment Type Popularity <span><h5><%= d.strftime("%A %d-%B-%Y %H:%M")%></h5></span></h1>	
<div class="well">
<%= render "garmentPopularity"%>		
</div>
