<%d = Date.today%>
<h1 class="page-header">Weekly Deadlines <span><h5><%=d.strftime("%A: %d %B %Y")%> - <%=(d+7).strftime("%d %B %Y")%></h5></span></h1>
<div class="well">
<%= render "weeklyDeadlines"%>	
</div>